<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    td {border: 1px solid #000;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;}

      
    /* 가위바위보 */
    .rps .com {
      width: 200px; height: 200px; overflow: hidden;
    }
    .rps .img {width: 650px; height: 200px;
    }
    .rps .btn {width: 50px;}

  </style>
</head>
  <%- body %>
</html>